body {
	background-color: #252627;
	color: #FFF9FB;
	font-family: "Verdana";
}

.header {
   border:1px solid #BB0A21;
   background-color: #BB0A21;
   font-family: "Tahoma";
   text-align: center;
}

.button {
    border: none;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}


.registration {
	text-align: center;
	justify-content: center;
}

#gameDiv {
	margin: auto;
/*	justify-content: center;*/
	padding: 10px;
	padding-left: 30px;
}

#scores {
	padding-top: 5px;
	padding-left: 15px;
	position: absolute;
	font-size: 110%;
	color: #4B88A2
}

#scores span {
	color: #ad0000;
}

.score {
	font-weight: normal;
	padding-left: 10px;
	color: white;
}

a {
	color: #4B88A2;
}

ol li {
	list-style-type: default;
	padding-bottom: 5px;
}

.notification {
	margin: auto;
	justify-content: center;
	text-align: center;
	font-style: italic;
}

#login {
	text-align: center;
}

#parent {
	margin: auto;
	display: flex;
}

#top {
	font-size: 150%;
	color: white;
	justify-content: center;
}

nav ol{height:675px; width:123%;}
nav ol{overflow:hidden; overflow-y:scroll;}
