body {
	background-color: #252627;
	color: #FFF9FB;
	font-family: "Verdana";
}

.header {
   border:1px solid #BB0A21;
   background-color: #BB0A21;
   font-family: "Tahoma";
   text-align: center;
}

.button {
    border: none;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}


.registration {
	text-align: center;
	justify-content: center;
}

#gameDiv {
	margin: auto;
/*	justify-content: center;*/
	padding: 10px;
}

#scores {
	/*display: inline-block;*/
	flex: 1;
	font-size: 100%;
	color: #4B88A2
}

#scores span {
	font-weight: bold;
	color: red;
}

#scores p {
	overflow-y: scroll;
}

a {
	color: #4B88A2;
}

.notification {
	margin: auto;
	justify-content: center;
	text-align: center;
	font-style: italic;
}

#login {
	text-align: center;
}

#parent {
	margin: auto;
	display: flex;
}

#top {
	font-size: 110%;
	color: red;
}
