<h1 class="header">Registration</h1>

<div class="notification">
  <p>This app is just for fun! We don't need a real email, just make sure your username is safe for work.</p>
</div>

<% if @errors %>
<% @errors.each do |error| %>
<li><%= error %></li>
<% end %>
<% end %>

<form class="registration" action="/users" method="POST">
  Username: <input type="text" name="user[username]" placeholder="Username"><br>
  Email: <input type="text" name="user[email]" placeholder="Email"><br>
  Password: <input type="password" name="user[password]"><br>
  Re-enter Password: <input type="password" name="password_confirmation"><br>
  <input type="submit" value="Create User">
</form>
