
<h1>Hello <%= current_user.username.capitalize %>, lets play!</h1>

  <a href="/users/profile">Link to your Profile Page</a>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>


<div id="gamescreen">  <script src="/js/main.js"></script></div>