<head>
  <script type="text/javascript" src="/js/lib/phaser.min.js"></script>
  <script type="text/javascript" src="../js/boot.js"></script>
  <script type="text/javascript" src="../js/load.js"></script>
  <script type="text/javascript" src="../js/menu.js"></script>
  <script type="text/javascript" src="../js/play.js"></script>
  <script type="text/javascript" src="../js/win.js"></script>
  <script type="text/javascript" src="../js/game.js"></script>
</head>

<div class="header">
  <h1>Hello <%= current_user.username %>, lets play!</h1>
  <form action="/sessions" method="POST" class="button">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>
</div>

<div id="parent">
  <div id="gameDiv"></div>

  <div id="scores"> 
    <h3 id="top">Top 30</h3>
    <ul>
      <% @top_scores.each do |score| %>
      <li><span>Username:</span> <%= score.user.username %>
        <br>  <span class="score">Score:</span> <%= score.score %></li>
        <% end %>
      </ul>
    </div>
</div>
